@import "tailwindcss";
:root {
  --textblue: #193055; 
  --textorange:#FB7602;
  --bgcolour:#FFF5EF;
  --bgwhite: #FFFFFF;
  --textcolour : #1A202C;

}
@keyframes flicker {
  0%, 100% { opacity: 1; }
  20% { opacity: 0.3; }
  30% { opacity: 1; }
  35% { opacity: 0.1; }
  40% { opacity: 1; }
  45% { opacity: 0.5; }
  50% { opacity: 1; }
  55% { opacity: 0.2; }
  60% { opacity: 1; }
}

.animate-flicker {
  animation: flicker 2s infinite;
}
.text-textorange {
  color: var(--textorange);
}
.text-textblue{
    color: var(--textblue);
}
.bg-textorange{
    background-color: var(--textorange);
}
.bg-bgcolour{
    background-color: var(--bgcolour);
}
.font-monte {
  font-family: var(--font-montserrat), sans-serif;
}
.font-raleway {
  font-family: var(--font-raleway), sans-serif;
}


@keyframes bgIconAnimation {
  0%, 100% {
    background-color: #142859; /* Deep Blue */
  }
  50% {
    background-color: #FFA500; /* Orange */
  }
}

@keyframes iconColorAnimation {
  0%, 100% {
    filter: brightness(1) invert(0);
  }
  50% {
    filter: brightness(0) invert(1); /* Invert color for contrast */
  }
}

.animate-bgIcon {
  animation: bgIconAnimation 2s infinite ease-in-out;
}

.animate-iconColor {
  animation: iconColorAnimation 2s infinite ease-in-out;
}

@keyframes slideX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slideX {
  animation: slideX 20s ease-in-out infinite alternate;
}
